<div class="responsive-table">
  <table>
    <thead>
      <tr>
        <th class="text-T">Date</th>
        <th class="text-T">Time</th>
        <th class="text-T">Title</th>
        <th class="text-T">Location</th>
        <th class="text-T">Summary</th>
        <th class="text-T">Video</th>
      </tr>
    </thead>
    <tbody>
      {% for workshop in workshops %}
        {% if workshop.data.done %}
          <tr class="workshop-done">
        {% else %}
          <tr>
        {% endif %}
            <td class="text-p">{{ workshop.data.workshop_date | date:"%Y-%m-%d" }}</td>
            <td class="text-p">{{ workshop.data.workshop_time }}</td>
            <td>
              <a href="{{ workshop.url }}" class="text-link">{{ workshop.data.title }}</a>
            </td>
            <td class="text-p">{{ workshop.data.room }}</td>
            <td class="text-p">{{ workshop.data.summary }}</td>
            <td class="workshop-youtube-icon">
              {% if workshop.data.youtube_url %}
                <a href="{{ workshop.data.youtube_url }}" target="_blank"><img src="/static/img/youtube.svg" width="20" height="20" style="filter: invert()"/></a>
              {% endif %}
            </td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
