<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {%- if title == "Code Space" %}
    <title>Code Space</title>
  {%- else %}
    <title>{{ title }} | Code Space</title>
  {%- endif %}
  <meta name="author" content="Frederik De Bleser, Lieven Menschaert" />
  <meta name="description" content="Digital Workspace of Sint Lucas Antwerp with a focus on making technology accessible to all">
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:wght@400;700&family=IBM+Plex+Mono:wght@300&family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/design-system.css?{{site.time | date: '%s%N'}}" />
  <link rel="stylesheet" href="/static/css/main.css?{{site.time | date: '%s%N'}}" />
  <link rel="stylesheet" href="/static/css/syntax.css?{{site.time | date: '%s%N'}}" />
  <link rel="stylesheet" href="/static/css/tabs.css?{{site.time | date: '%s%N'}}" />
</head>

<body id="{{ page.id }}">
  {{ content }}
</body>

</html>
