<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {%- if title == "Code Space" %}
    <title>Code Space</title>
  {%- else %}
    <title>{{ title }} | Code Space</title>
  {%- endif %}
  <meta name="author" content="Frederik De Bleser, Lieven Menschaert" />
  <meta name="description" content="Digital Workspace of Sint Lucas Antwerp with a focus on making technology accessible to all">
  <link rel="stylesheet" href="/static/css/main.css?{{site.time | date: '%s%N'}}" />
  <link rel="stylesheet" href="/static/css/syntax.css?{{site.time | date: '%s%N'}}" />
</head>

<body id="{{ page.id }}">
  {{ content }}
</body>

</html>
