<article class="card">
  <a href="{{ url }}" class="card__link">
    {% if image and image != "" %}
    <div class="card__image">
      <img src="{{ image }}" alt="{{ title }}" loading="lazy" />
    </div>
    {% endif %}
    <div class="card__body">
      <h2 class="card__title text-T">{{ title }}</h2>
      {% if subtitle %}
      <p class="card__subtitle text-s">{{ subtitle }}</p>
      {% endif %}
      {% if text %}
      <p class="card__text text-d">{{ text }}</p>
      {% endif %}
    </div>
  </a>
</article>
