---
layout: default
---
<section class="project-page">
  <div class="project-page__header">
    <div class="project-page__left">
      <h1 class="text-H">{{ title }}</h1>
      {% if summary %}
      <p class="text-p">{{ summary }}</p>
      {% endif %}
    </div>
    <div class="project-page__right">
      <p class="text-h">{{ student }} // {{ project_type }} // {{ project_year }}</p>
      {% if tech_stack %}
      <p class="text-p">Tools: {{ tech_stack }}</p>
      {% endif %}
    </div>
  </div>
  {% render "tech-line.liquid" %}
</section>

<div class="page project" style="background: var(--color-main);">
  {{ content }}
</div>
